:root {
    --bg-color: #1a1a1a;
    --color-white: #ffffff;
    --font-color: #a0a0a0;
    --card-bg-color: #212121;

    --main-gap: 20px;
    --small-gap: 10px;
    
    --card-border-radius: 40px;
    --card-padding: 40px;

}