@import "../styles/styles";

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 20px;
}

.section {
    display: flex;
    gap: var(--main-gap);
}

.flex {
    @include flex-column;
    gap: var(--main-gap);
}