@import "../../styles/styles";

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 100px;

    &__logo {
        @include flex-center;
        gap: var(--main-gap);
    }

    &__search {
        @include flex-center;
        gap: var(--main-gap);
        background-color: var(--card-bg-color);
        padding: 10px 20px;
        border-radius: var(--card-border-radius);
    }

    &__form {
        
        &__input {
            width: 400px;
            background-color: transparent;
            border: none;
            color: var(--color-white);
            font-size: 20px;
            outline: none;
        }
    }
}