@import "../../styles/styles";

.block {
    @include flex-column;
    row-gap: var(--main-gap);
    width: 100%;
    
    &__cards {
        display: flex;
        gap: var(--small-gap);
        @include desktop {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(4, 120px);
            justify-content: space-around;
            row-gap: 30px;
        }
    }

    &__card {
        width: 120px;
        height: 140px;
        background-color: var(--card-bg-color);
        padding: 10px;
        border-radius: 20px;
        @include desktop {
            justify-self: center;
        }
    }

    &__article {
        @include flex-column;
        align-items: center;
        row-gap: var(--small-gap);

        &__time {
            color: var(--color-white);
        }
    }
}